@import "~bootstrap/scss/functions";
@import "./variables";
@import "~bootstrap/scss/bootstrap";

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Microsoft JhengHei', 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, Helvetica, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
.main {
    min-height: calc(100vh - (80px + 70px));
}
.main-edit {
    min-height: calc(100vh - (80px + 332px + 8px));
}